* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
}
.wrapper header {
    background: #ffffff none repeat scroll 0 0;
    clear: both;
    overflow: hidden;
    padding: 27px 148px 0 150px;
}
header .logo {
    float: left;
}
header menu {
    float: right;
}
header menu ul {
    font-size: 0;
}
header menu li {
    display: inline-block;
}
header menu li a {
    color: #989898;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    padding: 15px 17px 32px;
    text-decoration: none;
    text-transform: uppercase;
}
header menu li:hover a, header menu li.active a {
    color: #3070a8;
}
header menu li.active a {
    border-bottom: 4px solid #3070a8;
}
.banner {
    background-image: url(image/banner.png);
    height: 584px;
    margin: auto;
    position: relative;
    width: 100%;
}
.banner_conteiner {
    bottom: 0;
    color: #ffffff;
    left: 0;
    overflow: hidden;
    padding: 144px 164px 0;
    position: absolute;
    right: 0;
    top: 0;
}
.banner_title {
    font-family: "Futura Bt Book",sans-serif;
    font-size: 36px;
    text-align: center;
}
.banner_title span {
    display: block;
    font-family: "Futura Bt Bold",sans-serif;
    font-size: 46px;
    font-weight: bold;
    margin-top: 6px;
    text-transform: uppercase;
}
.banner_text  {
    font-family: "Calibri Italic",sans-serif;
    font-size: 20px;
    font-style: italic;
    line-height: 1.5;
    margin-top: 21px;
    padding: 0 155px;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}
.banner_button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 35px auto 0;
    padding: 17px 60px;
    text-align: center;
    text-transform: uppercase;
}
.banner_button:hover {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
}

/*___________________________*/

.advantages {
    text-align: center;
    font-family: Trebuchet MS;
    margin: 30px 100px;
    width: 1023px;
}
.advantages h1 {
    font-size: 26px;
    color: #41525c;
    padding-top: 40px;
    padding-bottom: 70px;
}
.advantage {
    display: inline-block;
    margin: 10px;
}
.advantage img {
    height: 140px;
    width: 140px;
    margin-bottom: 20px;
}
.advantage p {
    width: 300px;
    overflow: hidden;
    font-size: 14px;
    color: #999999;
    line-height: 2;
    font-family: 'Open Sans', sans-serif;
}

.text h2 {
    font-size: 30px;
    color: #3070a8;
    margin-bottom: 10px;
}

/*______________________________*/

.middle {
    background: url("image/bg_middle.png");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
    padding: 30px;
}
.list {
    margin: 0 150px;
    width: 1023px;
}
.list h2 {
    margin-right: 300px;
    text-transform: uppercase;
    color: #ee8129;
    font-size: 26px;
    font-family: Trebuchet MS;
    padding-bottom: 10px;
}
.list p {
    color: #fff;
    font-size: 18px;
    padding-bottom: 10px;
}
.list ul {
    margin-right: 350px;
    color: #9d9d9d;
    font-size: 14px;

}
.list li {
    margin-left: 35px;
    padding-bottom: 15px;
    cursor: pointer;
}
.list li:hover {
    color: #3070a8;
}



/*_______________________________________*/

.prices h1 {
    margin: 30px 0 0 60px ;
    padding: 50px 50px 0px 50px;
    font-size: 30px;
    color: #35495a;
    width: 1023px;
    font-family: Trebuchet MS;
    text-align: center;
}
div.blocks{
    width: 1023px;
    padding: 50px 0 50px 100px;
    margin: auto;
}
div.block1, div.block2, div.block3 {
    display: inline-block;
    width: 300px;
    float: left;
    border-radius: 5px;
}
div.block1, div.block3 {
    position: relative;
    border: 1px solid #edeef0;
    z-index: 1;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    font-family: Trebuchet MS;
}
div.block2 {
    background-color: #fff;
    border: 4px solid #ee8129;
    border-radius: 5px;
    text-align: center;
    font-family: Trebuchet MS;
    box-shadow: 0 0 5px 3px #cbe2ef;
    position: relative;
    z-index: 3;
    margin-top: -6px;
}
.header1 {
    background-color: #37c1d2;
    padding: 20px;
    font-size: 24px;
    color: #fff;
}
.header2 {
    background-color: #ee8129;
    padding: 20px;
    font-size: 24px;
    color: #fff;
}
.header3 {
    background-color: #1cb699;
    padding: 20px;
    font-size: 24px;
    color: #fff;
}
.blocks p {
    font-size: 24px;
    color: #35495a;
    text-align: center;
}
.price {
    text-align: center;
    color: #35495a;
    position: relative;
}
strong {
    font-size: 70px;
}
.price sup {
    font-size: 20px;
    vertical-align: top;
    font-weight: bold;
}
.price sub {
    font-size: 20px;
    vertical-align: bottom;
}
.blocks ul{
    display: block;
    padding: 15px;
    color: #878b93;
    font-size: 12pt;
    list-style-type: none;
}
.blocks li{
    padding: 7px 0 7px 25px;
    margin-bottom: 1px;
    text-align: left;
}
.blocks li:before {
    content: url(image/marker.png);
    margin-left: 20px;
    margin-right: 15px;
}
.blocks li:nth-child(odd) {
    background-color: #edf5fd;
}
.blocks li:nth-child(even) {
    background-color: #f5f5f6;
}
input {
    margin: -20px 0 30px 0;
    background-color:#ee8129;
    color: #fff;
    padding: 10px;
    width: 245px;
    border-radius: 5px;
    border: 2px solid #ee8129;
    border-bottom: 2px solid #b3560b;
    font-weight: bold;
}
.block1 input, .block3 input {
    background-color: #3371a5;
    border: 2px solid #3371a5;
    margin: -20px 0 20px 0;
}

.block2 input:hover {
    box-shadow: 0 3px 2px #b3560b;
}
input:not(block2):hover {
    box-shadow: 0 3px 2px #16436a;
}

/*_________________________________________*/


.testimonials {
    background-image: url("image/image2.png");
    background-size: cover;
    font-family: 'Trebuchet MS', sans-serif;
    display: inline-block;
    width: 100%;
    margin-top: 60px;
}
.testimonials h2 {
    font-size: 38px;
    color: #3170a8;
    text-align: center;
    padding: 50px;
    text-transform: uppercase;
    font-weight: normal;
}
.firstword {
    color: #eb8036
}
.avatar img {
    width: 98px;
    height: 98px;
    margin-right: 25px;
}
.people,
.people right {
    display: inline-block;
    margin-bottom: 70px;
}
.cloud {
    position: relative;
    color: #818181;
    font-size: 14px;
    width: 350px;
    background-color: #ffffff;
    height: 98px;
    padding: 4px 12px;
    box-sizing: border-box;
}
.avatar {
    position: absolute;
    left: -135px;
    top: 0;
}
.people{
    position: relative;
    margin-left: 20%;
    margin-bottom: 5%;
    width: 120%;
}
.people.right {
    float: left;
    margin-left: 62%;
    margin-top: -160px;
}
div.cloud:before {
    content: "";
    position: absolute;
    left: -6%;
    top: 29%;
    border-style: solid;
    border-width: 22px 28px 22px 0;
    border-color: transparent #fff transparent transparent;
}
.cust {
    float: right;
}
.cloud h3 {
    color: #3070A8;
    font-size: 12px;
    font-style: italic;
    border-bottom: 1px dotted #959090;
    margin: 2px 5px;
    line-height: 2.6em;
}
.testimonials p {
    margin: 10px 0;
    padding: 5px 2px;
    color: #959090;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px
}