.arrow {
    height: 44px;
    width: 50%;
    margin: 50px auto;
    padding: 5px;
    min-width: 500px;
    display: block;
    position: relative;
    background: linear-gradient(#FFCD5D, #FDB61C, #FFCD5D);

}
div.arrow:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    border: 27px solid transparent;
    border-left: 15px solid #FFCD5D;
    background: linear-gradient(#FFCD5D, #FDB61C, #FFCD5D);
   }
.text input {
    width: 85%;
    height: 20px;
}
button{
    width: 65px;
    height: 26px;
    font-size: 15px;
    vertical-align: top;
    border: 1px solid #848484;
    border-radius: 2px;
    margin-left: 1px;
    background: linear-gradient(#E6E6E6, #D8D8D8, #BDBDBD );
}
button:hover {
    cursor: pointer;
}
label {
    margin: 0;
    padding: 0;
    font-size: 15px;
}