.arrow {
    height: 44px;
    width: 55%;
    margin: 50px auto;
    padding: 5px;
    min-width: 500px;
    display: block;
    position: relative;
    background: linear-gradient(#FFCD5D, #FDB61C, #FFCD5D);

}
.arrow:after {content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -10px;
    border: 28px solid #fff;
    border-left: 17px solid transparent;
}
.text input {
    width: 80%;
    height: 20px;
}
button{
    width: 65px;
    height: 26px;
    font-size: 15px;
    vertical-align: top;
    border: 1px solid #848484;
    border-radius: 2px;
    margin-left: 1px;
    background: linear-gradient(#E6E6E6, #D8D8D8, #BDBDBD );
}
button:hover {
    cursor: pointer;
}
label {
    margin: 0;
    padding: 0;
    font-size: 15px;
}