.arrow {
    height: 44px;
    width: 50%;
    margin: 50px auto;
    padding: 5px;
    min-width: 500px;
    background-color: #FFCD5D;
    display: block;
    position: relative;
}
div.arrow:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    border: 27px solid transparent;
    border-left: 15px solid #FFCD5D;
}
.text input {
    width: 85%;
    height: 20px;
}
button{
    width: 65px;
    height: 25px;
    font-size: 15px;
    vertical-align: top;
    border: 1px solid #777777;
    border-radius: 2px;
    margin-left: 1px;

}
button:hover {
    cursor: pointer;
}
label {
    margin: 0;
    padding: 0;
    font-size: 15px;
}