* {
    margin: 0;
    padding: 0;
}
.blocks {
    width: 100%;
    overflow: hidden;
    margin: 0 0;
    padding:  20px 0 50px;
}
.page {
    background: #f9f9f9 50% 50% no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0;
}
h1 {
    font-size: 32px;
    font-weight: normal;
    padding:  50px 0 0;
}
h5 {
    font-size: 14px;
    font-weight: normal;
    padding: 30px 0 70px 0;
    color: lightslategray;
}
.block-container {
    position: relative;
    display: inline-block;
    margin: 5px;
}

.block-container,
.block-container div,
.block-container img {
    width: 360px;
    height: 260px;
}

.block-container div, .block-container img {
    position: absolute;
    left: 0;
    top: 0;}

.block-container img {z-index: 1000;}
.block-front {
    z-index: 1001;
    background-color: rgba(37, 166, 247, 0.9);
    opacity: 0;
    cursor: pointer;
    margin: 0 0;
}
.block-front:hover { opacity: .9; }
.zoom img {
    position: absolute;
    display: block;
    padding: 110px 135px;
    width: 40px;
    height: 40px;
}
.link img {
    position: absolute;
    display: block;
    padding: 110px 185px;
    width: 40px;
    height: 40px;
}

/* popup*/

.overlay{
    display: none;
    z-index: 1002;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    pointer-events: none;
}
.popup_showed .overlay {
    display: block;
}
.popup{
    display: none;
    z-index: 1002;
    position: fixed;
    width: 1104px;
    top: 222px;
    left: 50%;
    margin-left: -556px;
    border: 3px solid #999;
    border-radius: 3px;

}
.popup_showed .popup {
    display: block;
}
.popup_image {
    display: block;
    width: 1104px;
}
.popup_close {
    position: absolute;
    top: -23px;
    right: 17px;
    height: 40px;
    width: 40px;
    background: #f74c26 url(images/close_icon.png) 14px 15px no-repeat;
}
